@model  JX.Web.Command.ProductCommand
@using (Html.BeginForm("CalculateTotalPrice", "Product"))
{
    <div class="container">
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Price)
            @Html.DisplayFor(model => model.Price)
            @Html.HiddenFor(model => model.Price)
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Count)
            @Html.TextBoxFor(model => model.Count)
        </div> 
        <div class="col-md-12 text-right form-group">
            <input type="submit" value="Calculate" class="btn-primary btn form-control"/>
        </div>
    </div>
}