@model List<JX.Web.ViewModels.ProductViewModel>

<div class="row">
    <h1>List</h1>
</div>

<div class="row">
    @Html.ActionLink("Create", "Create", "Product")
</div>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Total Price</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>@p.Count</td>
            <td>@p.TotalPrice</td>
            <td>
                <div class="col-md-6">
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = p.Id }, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Delete", "Product", new { id = p.Id }, FormMethod.Post))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }
                </div>
            </td>
        </tr>
    }
</table>