@model List<JX.Web.ViewModels.ProductViewModel>


<div class="row">
    @Html.ActionLink("Create", "Create", "Product")
</div>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var company in Model)
    {
        <tr>
            <td>@company.Id</td>
            <td>@company.Name</td>
            <td>@company.Price</td>
            <td>
                <div class="col-md-6">
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = company.Id }, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Delete", "Product", new { id = company.Id }, FormMethod.Post))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }
                </div>
            </td>
        </tr>
    }
</table>